.el-radio__inner{
  width: 22px;
  height: 22px;
  &:hover {
    border-color: #36c6d3
  }
}

:not(.is-focus):not(:active).el-radio:focus .el-radio__inner {
  box-shadow: none;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #36c6d3;
  background: #36c6d3;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #36c6d3;
}
.el-radio+.el-radio {
  margin-left: 15px;
}

.el-radio__inner::after {
  width: 8px;
  height: 8px;
}
.el-checkbox__inner {
  height: 18px;
  width: 18px;
  border-radius: 0;
}
.el-checkbox__inner::after {
  height: 8px;
  left: 6px;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #36c6d3;
  border-color: #36c6d3;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #36c6d3;
}
.el-checkbox__inner:hover {
  border-color: #36c6d3;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #36c6d3;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  top: 6px;
}