.zjy-select.el-select {
  .el-input__inner {
    border-radius: 0;
    height: 34px;
    line-height: 1;
    font-size: 12px;
  }
}

.el-select {
  font-size: 12px;
  .el-input {
    .el-input__inner {
      height: 34px;
      line-height: 34px;
      border-radius: 0;
      font-size: 12px;
    }
  }

}

.el-select .el-input.is-focus .el-input__inner,
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: #37c6d4
}

.el-select .el-input__inner:focus {
  border-color: #37c6d4
}

.el-select {
  .el-input {
    .el-input__inner {
      height: 34px;
      line-height: 34px;
      border-radius: 0;
    }
  }
}

.el-select-dropdown__item.selected {
  color: #37c6d4;
  font-weight: normal;
}

.el-select-dropdown.el-popper {
  .el-select-dropdown__item {
    font-size: 12px;
  }
}

.el-select-dropdown__item span {
  line-height: 36px !important;
}


.validate {
  .el-input__inner {
    border-color: #ed7734;
    &:hover {
      border-color: #ed7734;
    }
  }
  .el-icon-arrow-up:before {
    color: #ed7734;
  }
  input::-webkit-input-placeholder{
    color:#ed7734;
    opacity: 1;
  }
  input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ed7734;
    opacity: 1;
  }
  input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ed7734;
    opacity: 1;
  }
  input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ed7734;
    opacity: 1;
  }
}
