.zjy-table {
  .el-table {
    font-size: 12px;

    th {
      background-color: #eef1f5;
      color: #222222;
    }
  }
  .el-table td {
    padding: 4px 0 3px 0;
    font-size: 12px;
    color: #444;
    .cell {
      line-height: 20px;
      padding: 6px;
    }
  }
  .el-table th {
    padding: 8px 0;
    &.el-table-column--selection {
      padding-top: 7px;
    }
    .cell {
      padding-left: 6px;
    }
  }
  td.el-table-column--selection {
    &.el-table_1_column_1 {
      .cell {
        padding: 3px 6px 6px 6px;
      }
    }
  }
  .el-checkbox__inner {
    width: 16px;
    height: 16px;
  }
  .el-checkbox__inner::after {
    left: 5px;
    height: 9px;
    width: 4px;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #37c6d4;
    border-color: #37c6d4;
  }
  .el-checkbox__inner:hover {
    border-color: #37c6d4;
  }

  .el-table th.el-table-column--selection > .cell {
    text-overflow: clip;
  }

  .el-checkbox__input.is-focus .el-checkbox__inner {
    border: 1px solid #37c6d4;
  }
}

.zjy-table-search {
  font-size: 12px;
  padding: 0 0 10px 0;
  overflow: hidden;
  .zjy-table-search__item {
    float: left;
    margin-right: 20px;
    margin-bottom: 1px;
    //&:nth-child(3) {
    //  margin-right: 10px;
    //}
    &:last-of-type:not(:first-of-type) {
      margin-right: 10px;
      margin-left: -10px;
    }
    .zjy-input {
      width: auto;
    }
    .el-select {
      font-size: 12px;
      .el-input {
        .el-input__inner {
          height: 34px;
          line-height: 34px;
          border-radius: 0;
          font-size: 12px;
        }
      }
    }
    .el-select .el-input.is-focus .el-input__inner,
    .el-input.is-active .el-input__inner,
    .el-input__inner:focus {
      border-color: #37c6d4;
    }

    .el-input {
      .el-input__inner {
        height: 34px;
        line-height: 34px;
        border-radius: 0;
      }
    }
  }

  .zjy-table-search__button {
    background: #37c6d4 url("../assets/imgs/zjy-icon-search.png") 15px 10px
      no-repeat;
    width: 45px;
    height: 34px;
    display: inline-block;
    vertical-align: top;
  }

  .search-label {
    float: left;
    line-height: 34px;
    color: #666666;
    margin-right: 10px;
  }
  .search-input {
    display: inline-block;
    width: auto;
  }
}

.el-select-dropdown__item.selected {
  color: #37c6d4;
  font-weight: normal;
}

.el-select-dropdown.el-popper {
  .el-select-dropdown__item {
    font-size: 12px;
  }
}

.el-select-dropdown__item span {
  line-height: 36px !important;
}
.el-select-dropdown__empty {
  font-size: 12px;
}

.table-operator-group {
  width: 100px;
  margin: 0 auto;
  text-align: left;
}

// 水平滚动
.el-table--scrollable-x .el-table__body-wrapper {
  overflow: hidden;
}
