.zjy-tabs {
  .el-tabs--border-card {
    border: 0;
    box-shadow: none;
    &>.el-tabs__header {
      background-color:#37c6d4;
      border:none;
      .el-tabs__item.is-active {
        color: #333333;
      }
    }
    .el-tabs__nav-scroll {
      padding: 5px 0 0 20px;
    }

    .el-tabs__item {
      font-size: 12px;
      height: 32px;
      line-height: 32px;
      color: #fff;
      border-radius: 5px 5px 0 0;
      border: 0;
      &.is-active:hover {
        color: #333;
      }
      &:hover {
        color: #fff;
      }
    }
    .el-tabs__item:focus.is-active.is-focus:not(:active) {
      box-shadow: none;
      border-radius: 5px 5px 0 0;
    }

  }
}
